@import '../../../variables.scss';

.station-page {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .problems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}