@import '../../variables.scss';

.not-found-page {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  margin: 48px 96px;

  img {
    margin-bottom: 12px;
  }

  h2 {
    color: $blue-2;
    @include h2();
  }

  h3 {
    color: $n2;
    @include h3();
  }

  p {
    color: $n3;
    @include p1-r();

    a {
      color: $blue-1;
      transition: 0.24s ease;

      &:hover {
        color: $blue-3;
        text-decoration: underline;
      }
    }
  }
}