@import '../../variables.scss';

.line-page {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .stations {
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, 220px);
  }
}