@import '../../variables.scss';

.problem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  width: 720px;
  border: 2px solid $n3;
  padding: 24px;
  border-radius: 12px;
  transition: 0.24s ease;
  @include umbra12DP();

  &:hover {
    scale: 1.032;
    @include ambient12DP();
  }

  .left {
    display: flex;
    align-items: center;
    gap: 32px;

    .status { 
      width: 32px;
      height: 32px;
      border: 1px solid $n3;
      border-radius: 50%;
      aspect-ratio: 1;

      &.resolved {
        background-color: $green-1;
      }

      &.unresolved {
        background-color: $red-1;
      }
    }
    
    .informations {
      display: flex;
      flex-direction: column;
      gap: 4px;
      flex: 1;

      .name {
        color: $n3;
        @include l2-b();
      }

      .last-update {
        color: $n3;
        @include l3-r();
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 16px;

    .icon {
      font-size: 32px;
      color: $n3;
      cursor: pointer;
      transition: 0.24s ease;

      &:hover {
        color: $n1;
      }
    }
  }
}